<div class="container-footer container-fluid text-center">
	<div class="row-fluid">
		<div class="row-fluid">
			<a class="top-link" href="/">Home</a>
			<a class="top-link" href="/about">About</a>
			<a class="top-link" href="https://sites.google.com/site/ltumodus/">Blog</a>
		</div>
		<div class="divider"></div>
		<div class="row-fluid top-spaced">
			<p class="label-privacy-policy">© 2014 Modus - All rights reserved | Privacy Policy:
				<a href="https://www.iubenda.com/" class="privacy">web</a> - <a
					href="https://www.iubenda.com/" class="privacy">mobile app</a></p>
		</div>
	</div>
</div>