<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <style>
        body {
            padding-top: 53px;
            background-color: white;
        }
    </style>

    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="/">Modus</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-5">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><span class="fui-home"></span> Home</a>
                        </li>
                        <li class="active"><a href="/about"><span class="fui-info-circle"></span> About</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" action="/search" method="post" role="search">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" id="navbarInput-01" name="title" type="search" placeholder="Search">
                                <span class="input-group-btn">
						  <button type="submit" class="btn"><span class="fui-search"></span>
                                </button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <!-- check if the user is logged in -->
                    <% if (user) { %>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <%= user.google.name %> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/myuploads">My Uploads</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="/logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="/profile"><span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span><span class="visible-md visible-lg"><span class="fui-gear"></span></span></a>
                            </li>
                        </ul>
                        <% } else { %>
                            <form class="navbar-right">
                                <ul class="nav navbar-nav">
                                    <a class="btn btn-danger" href="/auth/google">Google</a>
                                    <a class="btn btn-info" href="/auth/facebook">Facebook</a>
                                </ul>
                            </form>
                            <% } %>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
    </header>

    <!-- =========================CAROUSEL========================= -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="overlay-section-container">
                    <div class="overlay-medium"></div>
                </div>
                <div class="container-fluid full-screen about-background"></div>

                <div class="container">
                    <div class="carousel-caption">
                        <h1>About us</h1>
                        <p>Modus is a student project in Computer Science focused on the use of human data analytics in rating media.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.carousel -->
	
    <!-- The Team
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container text-center">
        <div class="row">
            <h3 class="team-color">Our team</h3>
        </div>
        <div class="row">
            <h6 class="team-desc">We are a small team of three Master Students in Computer Science and Engineering<br>at <a href="http://www.ltu.se/?l=en">Luleå University of Technology</a></h6>
        </div>
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-md-4 col-centered">
                <img class="img-circle" src="img/about/maxime.jpg" alt="Generic placeholder image" style="width: 200px; height: 200px;">
                <p class="personName">Maxime Koitsalu</p>

                <p class="personDesc">Developer</p>
				<!--
                <ul class="social-icons icon-circle list-unstyled list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul>
				-->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-md-4 col-centered">
                <img class="img-circle" src="img/about/simon.jpg" alt="Generic placeholder image" style="width: 200px; height: 200px;">
                <p class="personName">Simon N. Guldstrand</p>

                <p class="personDesc">Developer</p>
				<!--
                <ul class="social-icons icon-circle list-unstyled list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul>
				-->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-md-4 col-centered">
                <img class="img-circle" src="img/about/victor.jpg" alt="Generic placeholder image" style="width: 200px; height: 200px;">
                <p class="personName">Victor Ohlsson</p>

                <p class="personDesc">Developer</p>
				<!--
                <ul class="social-icons icon-circle list-unstyled list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul>
				-->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
	<hr>
    <div class="container-fluid text-center white-background">
        <div class="row-fluid">
            <div class="section col-lg-12">
                <div class="big-message">
                    <div class="row">
                        <h3 class="team-color">Built with</h3>
                    </div>
                    <div class="row">
                        <img src="img/about/about_packages.png" alt="" usemap="#Map" />
                        <map name="Map" id="Map">
                            <area alt="jQuery" title="jQuery" href="https://jquery.com/" shape="rect" coords="14,6,285,135" />
                            <area alt="FlatUI" title="FlatUI" href="http://designmodo.github.io/Flat-UI/" shape="rect" coords="372,8,588,162" />
                            <area alt="Express" title="Express" href="http://expressjs.com/" shape="rect" coords="621,17,880,113" />
                            <area alt="Bootstrap" title="Bootstrap" href="http://getbootstrap.com/" shape="rect" coords="73,168,226,313" />
                            <area alt="NodeJS" title="NodeJS" href="http://nodejs.org/" shape="rect" coords="281,182,677,304" />
                            <area alt="Passport" title="" href="http://passportjs.org/" shape="rect" coords="704,186,846,312" />
                            <area alt="MongoDB" title="" href="http://www.mongodb.org/" shape="rect" coords="219,337,372,483" />
                            <area alt="CSV" title="" href="http://csv.adaltas.com/" shape="rect" coords="552,331,694,483" />
                        </map>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>