<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <style>
        body {
            padding-top: 53px;
            background-color: white;
        }
    </style>

    <header>
		<% include ../partials/header %>
    </header>

    <!-- Carousel -->
	<div class=row-fluid>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container-fluid full-screen index-1"></div>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Emote yourself through technology</h1>
                        <p>Search and Rate Movies, Music, TV Shows, Games and much more.</p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container-fluid full-screen index-3"></div>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>An Open API that serves the whole audience</h1>
                        <p>Experience rating through facial expressions</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container-fluid full-screen index-2"></div>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Movies in focus</h1>
                        <p>Search for your favourite movies and upload your data</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- /.carousel -->
	</div>

    <!-- Marketing messaging and featurettes -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <!-- START THE FEATURETTES -->

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">The idea.<br> <span class="text-muted">Ubiquitous monitoring.</span></h2>
                <p class="lead">The pace at which monitoring devices and their underlying technologies advances at is at an extremely high. Everyday, more accessories have physiological sensors embedded in them. A new area is opening up.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="/img/index/e3.png" alt="E3">
            </div>
        </div>

        <hr class="featurette-divider">
		
		<div class="row text-center">
            <div class="col-md-12">
                <h2>Empatica Wristband.</h2>
            </div>
		</div>

        <div class="row text-center">
            <img src="img/index/E4specs.png" alt="Empatica E3 Wristband">
		</div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Media rating. <span class="text-muted"><br>Through sensor data analysis.</span></h2>
                <p class="lead">Thanks to the different sensors in the Empatica wristband, we are able to analyze the measured data and create a unique way of rating media (currently focused on movies).</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" style="margin-top: 60px" src="https://cdn4.iconfinder.com/data/icons/pretty_office_3/256/Star-Half-Full.png" alt="Generic placeholder image">
            </div>
        </div>
		<br>

        <!-- /END THE FEATURETTES -->
    </div>
    <!-- FOOTER -->
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>