<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ../partials/head %>
  </head>
<body>
    <style>
      body {

        padding-top: 70px;
		background-color: white;
      }
    </style>

	<header>
		<% include ../partials/header %>
	</header>
	
	<!-- Script that sends user to search_specific for the movie clicked. -->
	
	<script>
 //        $(document).on("click", ".thumbnail", function(e) {
 //            bootbox.dialog({
 //                title: "This is a form in a modal.",
 //                message: '<div class="row">  ' +
 //                    '<div class="col-md-12"> ' +
 //                    '<form class="form-horizontal"> ' +
 //                    '<div class="form-group"> ' +
 //                    '<label class="col-md-4 control-label" for="name">Name</label> ' +
 //                    '<div class="col-md-4"> ' +
 //                    '<input id="name" name="name" type="text" placeholder="Your name" class="form-control input-md"> ' +
 //                    '<span class="help-block">Here goes your name</span> </div> ' +
 //                    '</div> ' +
 //                    '<div class="form-group"> ' +
 //                    '<label class="col-md-4 control-label" for="awesomeness">How awesome is this?</label> ' +
 //                    '<div class="col-md-4"> <div class="radio"> <label for="awesomeness-0"> ' +
 //                    '<input type="radio" name="awesomeness" id="awesomeness-0" value="Really awesome" checked="checked"> ' +
 //                    'Really awesome </label> ' +
 //                    '</div><div class="radio"> <label for="awesomeness-1"> ' +
 //                    '<input type="radio" name="awesomeness" id="awesomeness-1" value="Super awesome"> Super awesome </label> ' +
 //                    '</div> ' +
 //                    '</div> </div>' +
 //                    '</form> </div>  </div>',
 //                buttons: {
 //                    success: {
 //                        label: "Save",
 //                        className: "btn-success",
 //                        callback: function () {
 //                            var name = $('#name').val();
 //                            var answer = $("input[name='awesomeness']:checked").val()
 //                            Example.show("Hello " + name + ". You've chosen <b>" + answer + "</b>");
 //                        }
 //                    }
 //                }
 //            }
 //        );
 //        });
 //    </script>

	
	
	<div class="container">
		
		<div class="row">
		<% result.forEach(function(msgObj){ %>
			
			<div class="col-xs-6 col-md-3 text-center">
				<a class="thumbnail" href="/search/movie?title=<%= msgObj.title %>">
			  		
	   					<!--<%= msgObj.title %> (<%= msgObj.year %>) -->
	  				
			  		<img src="img/poster.jpg" height="371" alt="...">

				</a>
		  	</div>
		  	
		<% }) %>
		</div> 
		
				
		
	</div> <!-- /container -->

    <!-- FOOTER -->
    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>

</html>
