<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ../partials/head %>
  </head>
<body>
    <style>
      body {

        padding-top: 70px;
		background-color: white;
      }
    </style>

	<header>
		<% include ../partials/header %>
	</header>
	
	<!-- Script that sends user to search_specific for the movie clicked. -->
	
	<script>
        $(document).on("click", ".thumbnail", function(e) {
            bootbox.alert("Hello world!", function() {
                console.log("Alert Callback");
            });
        });
    </script>

	
	
	<div class="container">
		
		<div class="row">
		<% result.forEach(function(msgObj){ %>
			
			<div class="col-xs-6 col-md-3">
				<a class="thumbnail" href="#">
			  		
	   					<%= msgObj.title %> (<%= msgObj.year %>)
	  					
			  		<img data-src="holder.js/100%x371" height="371" alt="...">

				</a>
		  	</div>
		  	
		<% }) %>
		</div> 
		
				
		
	</div> <!-- /container -->
	<!-- FOOTER -->
	<footer>
		<% include ../partials/footer %>
	</footer>
	</body>
</html>
