<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ../partials/head %>
  </head>
<body>
    <style>
      body {

        padding-top: 70px;
		background-color: white;
      }
    </style>

	<header>
		<% include ../partials/header %>
	</header>
	<script>
	// FUNCTION TO HIDE IMAGES UNTIL LOADED
		function imgLoaded(img){
        var imgWrapper = img.parentNode;

        imgWrapper.className += imgWrapper.className ? ' loaded' : 'loaded';
    };
	</script>
	
	<!-- Script that sends user to search_specific for the movie clicked. -->
	
	<div class="container">
		
		<div class="row">
		<% if(result) { %>

			<% result.forEach(function(msgObj){ %>
				
				<div class="col-xs-6 col-md-3 text-center">

					<a class="poster-container" href="/movie?imdb_id=<%= msgObj.imdb_id %>">
				  		
		   				
                    <div class="img_wrapper">
                        <div class="css_spinner">
                            <div class="half left">
                                <div class="band"></div>
                            </div>
                            <div class="half right">
                                <div class="band"></div>
                            </div>
                        </div>
                        <img src="http://img.omdbapi.com/?apikey=a69bf97e&h=376&i=<%= msgObj.imdb_id %>" height="376" width="251" onload="imgLoaded(this)"/>
                    </div>
                    
                
                	<!--<%= msgObj.title %> (<%= msgObj.year %>) -->
		  				
				  		<!-- <img src="img/poster.jpg" height="371" alt="..."> -->

					</a>
			  	</div>
			  	
			<% }) %>
		<% } else { %>
			<div class="text-center">
				You have not searched for anything
			</div>
		<% } %>
		</div> 
		
	</div> <!-- /container -->

    <!-- FOOTER -->
    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>

</html>
