<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ../partials/head %>
  </head>
<body>
    <style>
      body {

        padding-top: 70px;
		background-color: white;
      }
    </style>

	<header>
		<% include ../partials/header %>
	</header>
	
	<!-- Script that sends user to search_specific for the movie clicked. -->
	
	
	
	<div class="container">
		
		<div class="row">
		<% if(result) { %>

			<% result.forEach(function(msgObj){ %>
				
				<div class="col-xs-6 col-md-3 text-center">

					<a class="thumbnail" href="/movie?imdb_id=<%= msgObj.imdb_id %>">
				  		
		   					<!--<%= msgObj.title %> (<%= msgObj.year %>) -->
		  				<img src="<%= msgObj.poster_path %>" height="371">
				  		<!-- <img src="img/poster.jpg" height="371" alt="..."> -->

					</a>
			  	</div>
			  	
			<% }) %>
		<% } else { %>
			<div class="text-center">
				You have not searched for anything
			</div>
		<% } %>
		</div> 
		
				
		
	</div> <!-- /container -->

    <!-- FOOTER -->
    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>

</html>
