<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="page-header text-center">
        <h1><span class="fa fa-upload"></span> My Uploads</h1>
    </div>
	<div class="text-center">

	</div>
    <script>
        $(document).on("click", ".pulse", function(e) {
            bootbox.alert("Hello world!", function() {
                console.log("Alert Callback");
            });
        });
    </script>
	
    <!-- uploads -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="thumbnail">
                    <img src="http://i.imgur.com/J4f10YO.jpg" alt="...">
                </a>
            </div>
            <div class="col-md-6">
                <h5>The Incredible Hulk <span class="text-muted">(2008)</span></h5>
                <p>Rating: <b>6,9</b>/10 from 267 409 users</p>
                <p>Bruce Banner, a scientist on the run from the U.S. Government must find a cure for the monster he emerges whenever he loses his temper. However, Banner then must fight a soldier whom unleashes himself as a threat stronger than he.</p>
            </div>
            <div class="col-md-4">
                <h6><span class="fa fa-bar-chart"></span> Your data:</h6> ~ <a class="pulse" href="#"><span class="fa fa-heart-o"></span> Pulse</a>: <b>70 bpm</b>
                <br> ~ <a href="#"><span class="fa fa-paw"></span> Temperature</a>: <b>27&deg;C</b>
                <br> ~ <a href="#"><span class="fa fa-tachometer"></span> Excitment</a>: <b>Very High</b>
            </div>
        </div>
    </div>
    <hr>
    <!-- /container -->
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="thumbnail">
                    <img src="http://i.imgur.com/J4f10YO.jpg" alt="...">
                </a>
            </div>
            <div class="col-md-6">
                <h5>The Incredible Hulk <span class="text-muted">(2008)</span></h5>
                <p>Rating: <b>6,9</b>/10 from 267 409 users</p>
                <p>Bruce Banner, a scientist on the run from the U.S. Government must find a cure for the monster he emerges whenever he loses his temper. However, Banner then must fight a soldier whom unleashes himself as a threat stronger than he.</p>
            </div>
            <div class="col-md-4">
                <h6><span class="fa fa-bar-chart"></span> Your data:</h6> ~ <a href="#"><span class="fa fa-heart-o"></span> Pulse</a>: <b>70 bpm</b>
                <br> ~ <a href="#"><span class="fa fa-fire"></span> Temperature</a>: <b>27&deg;C</b>
                <br> ~ <a href="#"><span class="fa fa-tachometer"></span> Excitment</a>: <b>Very High</b>
            </div>
        </div>
    </div>
    <!-- /container -->
    <br>
    <!-- FOOTER -->
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>