<!doctype html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header2 %>
    </header>
    <div class="container">

        <div class="page-header text-center">
            <h1> Upload Form</h1>

        </div>

        <div class="row">
            <form action="/upload" method="post" enctype="multipart/form-data">

                <input type="text" name="movie_title" placeholder="movie title" />

                <input type="file" name="movie_csv">

                <input type="submit">
            </form>
        </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>